*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  font-size: 14px;
  font-weight: 400;
  font-family: "Forum", cursive;
  color: #ffffff;
  background-color: #121212;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
}

img {
  display: block;
}

.container {
  max-width: 1610px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1610px) {
  .container {
    max-width: 1200px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
}
.menu-button {
  position: relative;
  width: 35px;
  height: 28px;
}
.menu-button__item {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
}
.menu-button__item--1 {
  top: 0;
}
.menu-button__item--2 {
  top: 12px;
}
.menu-button__item--3 {
  top: 24px;
}

.button {
  background-color: #ffffff;
  box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.48);
  border-radius: 10px;
  padding: 24px 46px;
  border: 3px solid #ffffff;
  font-size: 24px;
  color: #000000;
}
.button--transparent {
  background-color: transparent;
  color: #ffffff;
}

@media (max-width: 480px) {
  .button {
    padding: 15px 28px;
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 480px) {
  .logo {
    width: 93px;
  }
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 75px;
  z-index: 2;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__phone {
  margin-left: auto;
  font-size: 24px;
  margin-right: 40px;
}

@media (max-width: 600px) {
  .header {
    padding-top: 15px;
  }
  .header__container {
    justify-content: space-between;
  }
  .header__menu-button {
    order: -1;
  }
  .header__button {
    order: -1;
  }
  .header__phone {
    margin: 0;
    font-size: 0;
    width: 26px;
    height: 26px;
    background-image: url("../images/header-phone-icon.svg");
  }
}
.intro {
  position: relative;
  height: 100vh;
  background-image: url("../images/intro-bg.png");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  align-items: center;
}
.intro__container {
  padding-left: 190px;
}
.intro__title {
  margin-top: 40px;
  font-size: 72px;
  max-width: 470px;
}
.intro__scroll-button {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 200px;
  height: 100px;
  border: 2px solid #ffffff;
  filter: drop-shadow(0px 5px 25px rgba(255, 255, 255, 0.48));
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .intro__container {
    padding-left: 15px;
  }
  .intro__title {
    margin-top: 25px;
    font-size: 48px;
    max-width: 380px;
  }
}
@media (max-width: 480px) {
  .intro {
    display: flex;
    align-items: flex-end;
    padding-bottom: 50px;
  }
  .intro__scroll-button {
    display: none;
  }
}
@media (max-width: 360px) {
  .intro__title {
    font-size: 44px;
  }
}
.title {
  font-size: 64px;
  line-height: 130%;
}

@media (max-width: 700px) {
  .title {
    font-size: 42px;
  }
}
.text {
  font-size: 24px;
  line-height: 31px;
  font-family: "Jura", sans-serif;
}

@media (max-width: 480px) {
  .text {
    font-size: 18px;
    line-height: 1.3;
  }
}
.about-us {
  padding: 180px 0;
}
.about-us__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us__body {
  margin-top: -100px;
  position: relative;
  z-index: 2;
  max-width: 580px;
  margin-right: -10%;
}
.about-us__text {
  margin-top: 20px;
}
.about-us__image {
  width: 59%;
}
.about-us__img {
  width: 100%;
}
.about-us__button {
  display: none;
}

@media (max-width: 992px) {
  .about-us {
    padding: 80px 0;
  }
  .about-us__container {
    display: block;
  }
  .about-us__body {
    margin: 0;
    margin-bottom: 50px;
  }
  .about-us__image {
    width: auto;
    max-width: 700px;
  }
  .about-us__button {
    margin-top: 25px;
    display: block;
  }
}
.advantages__title {
  text-align: center;
  margin-bottom: 115px;
}
.advantages__items {
  display: flex;
  flex-wrap: wrap;
  margin: -35px;
}
.advantages__item {
  width: calc(33.333% - 70px);
  margin: 35px;
}

@media (max-width: 1610px) {
  .advantages__items {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
  }
  .advantages__item {
    width: calc(33.333% - 40px);
    margin: 20px;
  }
}
@media (max-width: 1230px) {
  .advantages__container {
    padding: 0 30px;
  }
  .advantages__item {
    width: calc(50% - 40px);
  }
}
@media (max-width: 700px) {
  .advantages__title {
    margin-bottom: 40px;
  }
  .advantages__item {
    width: calc(100% - 40px);
  }
}
.advantage {
  position: relative;
  padding: 50px 50px 37px 50px;
  background-color: #131313;
  border: 8px solid #ffffff;
  box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.61);
  border-radius: 10px;
  font-family: "Jura", sans-serif;
}
.advantage::before {
  content: "";
  position: absolute;
  left: -7px;
  top: -8px;
  transform: translateX(-50%);
  width: 50px;
  height: 7px;
  background-color: #ffffff;
  box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.advantage::after {
  content: "";
  position: absolute;
  left: -8px;
  top: -7px;
  width: 7px;
  height: 50px;
  transform: translateY(-50%);
  background-color: #ffffff;
  box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.advantage__title {
  font-size: 32px;
  line-height: 1.1875em;
}
.advantage__text {
  margin-top: 25px;
  font-size: 18px;
  line-height: 1.16em;
}

@media (max-width: 1610px) {
  .advantage {
    padding: 25px;
  }
  .advantage__title {
    font-size: 28px;
  }
  .advantage__text {
    margin-top: 15px;
    font-size: 16px;
  }
}
@media (max-width: 480px) {
  .advantage {
    padding: 15px;
  }
  .advantage__title {
    font-size: 22px;
  }
  .advantage__text {
    font-size: 14px;
  }
}
.programs {
  padding: 200px 0;
}
.programs__title {
  text-align: center;
}
.programs__items .program:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: calc(100% - 140px);
  height: 10px;
  background-color: #FFFFFF;
  box-shadow: 0px 5px 25px rgba(255, 255, 255, 0.48);
  border-radius: 3px;
}

.program {
  position: relative;
  padding: 100px 100px 110px 100px;
  display: flex;
  align-items: flex-start;
  margin: 0px -70px;
}
.program__body {
  width: calc(50% - 70px);
  margin: 0 70px;
}
.program__img {
  width: calc(50% - 70px);
  margin: 0 70px;
}
.program__title {
  font-size: 48px;
  line-height: 53px;
}
.program__text {
  margin-top: 25px;
  font-family: "Jura", sans-serif;
  font-size: 24px;
  line-height: 1.16em;
}
.program__buttons {
  display: flex;
  margin: 45px -15px 0 -15px;
}
.program__button {
  margin: 0 15px;
}

@media (max-width: 1610px) {
  .program {
    padding: 75px 0;
  }
  .program__text {
    font-size: 20px;
  }
}